body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1#title {
  margin-bottom: 20px;
}

.btn-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-field button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-field button:hover {
  background-color: #0056b3;
}

#questionForm,
#deleteForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

#questionForm h2,
#deleteForm h2 {
  margin-bottom: 15px;
}

#questionForm input,
#deleteForm input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#questionForm button,
#deleteForm button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #28a745;
  color: #fff;
  transition: background-color 0.3s;
}

#questionForm button:hover,
#deleteForm button:hover {
  background-color: #218838;
}
